<div class="box_weather">
    <div class="five-box">
        <p class="day"></p>
        <p class="date"></p>
        <p class="monthe"></p>
        <img src="" alt="rain" />
        <div class="temp">
            <p class="min-temp">5</p>
            <p class="max-temp">10</p>
        </div>
    </div>
    <div class="five-box">
        <p class="day"></p>
        <p class="date"></p>
        <p class="monthe"></p>
        <img src="" alt="rain" />
        <div class="temp">
            <p class="min-temp"></p>
            <p class="max-temp"></p>
        </div>
    </div>
    <div class="five-box">
        <p class="day"></p>
        <p class="date"></p>
        <p class="monthe"></p>
        <img src="" alt="rain" />
        <div class="temp">
            <p class="min-temp"></p>
            <p class="max-temp"></p>
        </div>
    </div>
    <div class="five-box">
        <p class="day"></p>
        <p class="date"></p>
        <p class="monthe"></p>
        <img src="" alt="rain" />
        <div class="temp">
            <p class="min-temp"></p>
            <p class="max-temp"></p>
        </div>
    </div>
    <div class="five-box">
        <p class="day"></p>
        <p class="date"></p>
        <p class="monthe"></p>
        <img src="" alt="rain" />
        <div class="temp">
            <p class="min-temp"></p>
            <p class="max-temp"></p>
        </div>
    </div>
</div>