 <div class="box_weather">
            <div class="field">
              <span id="city" data-value="city-name">{{}}</span>
            </div>
            <div class="field">
              <span id="temp-current" data-value="degrees-current">{{}}</span>
            </div>

            <div class="field">
              <span id="temp-min" data-value="degrees-min">{{}}</span>
              <span class="label">min</span>
            </div>

            <div class="field">
              <span id="temp-max" data-value="degrees-max">{{}}</span>
              <span class="label">max</span>
            </div>
          </div>